#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "JSsplit-layout";
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200    0       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400    0       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  100       0     0     0>
            , <&key_physical_attrs 100 100 1000  100       0     0     0>
            , <&key_physical_attrs 100 100 1100  100       0     0     0>
            , <&key_physical_attrs 100 100 1200  100       0     0     0>
            , <&key_physical_attrs 100 100 1300  100       0     0     0>
            , <&key_physical_attrs 100 100 1400  100       0     0     0>
            , <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  100  200       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  200       0     0     0>
            , <&key_physical_attrs 100 100 1000  200       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  200       0     0     0>
            , <&key_physical_attrs 100 100 1300  200       0     0     0>
            , <&key_physical_attrs 100 100 1400  200       0     0     0>
            , <&key_physical_attrs 100 100    0  300       0     0     0>
            , <&key_physical_attrs 100 100  100  300       0     0     0>
            , <&key_physical_attrs 100 100  200  300       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  300       0     0     0>
            , <&key_physical_attrs 100 100 1000  300       0     0     0>
            , <&key_physical_attrs 100 100 1100  300       0     0     0>
            , <&key_physical_attrs 100 100 1200  300       0     0     0>
            , <&key_physical_attrs 100 100 1300  300       0     0     0>
            , <&key_physical_attrs 100 100 1400  300       0     0     0>
            , <&key_physical_attrs 100 100  100  400       0     0     0>
            , <&key_physical_attrs 100 100  200  400       0     0     0>
            , <&key_physical_attrs 100 100  300  400       0     0     0>
            , <&key_physical_attrs 100 100  500  450       0     0     0>
            , <&key_physical_attrs 100 100  900  450       0     0     0>
            , <&key_physical_attrs 100 100 1100  400       0     0     0>
            , <&key_physical_attrs 100 100 1200  400       0     0     0>
            , <&key_physical_attrs 100 100 1300  400       0     0     0>
            , <&key_physical_attrs 100 100  100  500       0     0     0>
            , <&key_physical_attrs 100 100  200  500       0     0     0>
            , <&key_physical_attrs 100 100  300  500       0     0     0>
            , <&key_physical_attrs 100 100  600  500       0     0     0>
            , <&key_physical_attrs 100 100  800  500       0     0     0>
            , <&key_physical_attrs 100 100 1100  500       0     0     0>
            , <&key_physical_attrs 100 100 1200  500       0     0     0>
            , <&key_physical_attrs 100 100 1300  500       0     0     0>
            , <&key_physical_attrs 100 100  600  400       0     0     0>
            , <&key_physical_attrs 100 100  800  400       0     0     0>
            ;
            
            /*= <&key_physical_attrs 100 100  200    0    1000   550 (-90)>
            , <&key_physical_attrs 100 100  100   35    1000   550 (-90)>
            , <&key_physical_attrs 100 100  300   35    1000   550 (-90)>
            , <&key_physical_attrs 100 100  400   50    1000   550 (-90)>
            , <&key_physical_attrs 100 100    0   70    1000   550 (-90)>
            , <&key_physical_attrs 100 100  200  100    1000   550 (-90)>
            , <&key_physical_attrs 100 100  100  135    1000   550 (-90)>
            , <&key_physical_attrs 100 100  300  135    1000   550 (-90)>
            , <&key_physical_attrs 100 100  400  150    1000   550 (-90)>
            , <&key_physical_attrs 100 100    0  170    1000   550 (-90)>
            , <&key_physical_attrs 100 100  200  200    1000   550 (-90)>
            , <&key_physical_attrs 100 100  100  235    1000   550 (-90)>
            , <&key_physical_attrs 100 100  300  235    1000   550 (-90)>
            , <&key_physical_attrs 100 100  400  250    1000   550 (-90)>
            , <&key_physical_attrs 100 100    0  270    1000   550 (-90)>
            , <&key_physical_attrs 100 100  200  300    1000   550 (-90)>
            , <&key_physical_attrs 100 100  100  335    1000   550 (-90)>
            , <&key_physical_attrs 100 100  300  335    1000   550 (-90)>
            , <&key_physical_attrs 100 100  400  350    1000   550 (-90)>
            , <&key_physical_attrs 100 100    0  370    1000   550 (-90)>
            , <&key_physical_attrs 100 100  100  445    1000   550 (-90)>
            , <&key_physical_attrs 100 100  200  445    1000   550 (-90)>
            , <&key_physical_attrs 100 100  300  445    1000   550 (-90)>
            , <&key_physical_attrs 100 100  100  545    1000   550 (-90)>
            , <&key_physical_attrs 100 100  200  545    1000   550 (-90)>
            , <&key_physical_attrs 100 100  300  545    1000   550 (-90)>
            , <&key_physical_attrs 100 100  638  435    1500   550 (-90)>
            , <&key_physical_attrs 100 100  538  485    1500   550 (-90)>
            , <&key_physical_attrs 100 100  638  535    1500   550 (-90)>
            , <&key_physical_attrs 100 100  475  460 (-1500)   550 (-90)>
            , <&key_physical_attrs 100 100  575  510 (-1500)   550 (-90)>
            , <&key_physical_attrs 100 100  475  560 (-1500)   550 (-90)>
            , <&key_physical_attrs 100 100  900   25 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100  800   60 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100 1000   60 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100  700   75 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100 1100   95 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100  900  125 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100  800  160 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100 1000  160 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100  700  175 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100 1100  195 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100  900  225 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100  800  260 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100 1000  260 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100  700  275 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100 1100  295 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100  900  325 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100  800  360 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100 1000  360 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100  700  375 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100 1100  395 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100  800  467 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100  900  467 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100 1000  467 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100  800  567 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100  900  567 (-1000)   550 (-90)>
            , <&key_physical_attrs 100 100 1000  567 (-1000)   550 (-90)>
            ;*/
    // Define the listener node for the PIM447 trackball
     pim447_listener: pim447_listener {
         compatible = "zmk,input-listener";
         status = "disabled"; // Disabled by default, enabled on central side
     };
 
     // Input split driver needed for peripheral pointing devices
     input_split: input_split {
         compatible = "zmk,input-split-driver";
         status = "disabled"; // Disabled by default, enabled in overlays
     };
    };
};