config SHIELD_CENTRAL_DONGLE
    def_bool $(shields_list_contains,central_dongle)

config SHIELD_JSSPLIT_LEFT
    def_bool $(shields_list_contains,JSsplit_left)

config SHIELD_JSSPLIT_RIGHT
    def_bool $(shields_list_contains,JSsplit_right)